
body{
    font-family:'Times New Roman', Times, serif;
    margin: 50px;
    padding: 10;
    background-color: white;
    border: 10px double;
    border-radius: 20px;
    border-color: #020269;
    overflow: auto;
    
}

h1 {
    background: #ffffff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    margin-bottom: 50px;
    position: center;
    overflow: hidden;
}

h1{
    font-size: extra xx-large;
    text-align: center;
    color: #020269;
    padding-left: 20px;
}

h2{
    font-size: large;
    text-align: left;
    color: rgb(2, 2, 105);
    padding-left: 20px;
}

p{
    text-align: center;
    color: rgb(2, 2, 105);
    padding-left: 20px;
}

div{
    text-align: left;
    color: rgb(2, 2, 105);
}

li{
    color: rgb(2, 2, 105);
    padding-left: 30px;
}


input {
    color: rgb(2, 2, 105);
    padding-left: 100px;
    padding-right: 100px;
}

form{
    padding-left: 50px;
}

label {
    padding-left: 20px;
    color:rgb(2, 2, 105);
}

button {
    padding:5px;
    border-radius: 5px;
    color:rgb(2, 2, 105);
    border-color: #020269;
}

